<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Linka o arquivo style.css com o index.html-->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!--                                           -->
</head>

<header>
<div class="header" id="header">
    <div class="logo_header">
        <img src="/img/Logo.png" class="img_logo_header" alt="LogoSite">
    </div>
    
    <div class="navigation_header">
        <a href="/views/produtos.html" class="active">Produtos</a>
        <a href="/views/quemSomos.html"class="active">Sobre Nós</a>
        <a href="/views/carrinho.html"class="active">Carrinho</a>
        <a href="/views/entrar.html"class="active">Entrar</a>
    </div>

   <!--PLACEHOLDER--> 
    <a href="/">
        <img src="" alt="">
    </a>
    <input type="text" name="" id="" placeholder="Escreva aqui o que procura..">
    <button>Buscar</button>
    <a href="">
        <img src="" alt="">
        <span></span>
    <!--FIM DO PLACEHOLDER-->

</header>
    <a href="">
        <img src="" alt="">
    </a>
</header>
    
    

</header>

</header>

<main>  
        <div class="content" id="content">
            
            <article>
                <img src="/img/Margaridas.png" alt="">
                <h2>Margarida</h2>
                <span>R$ 40,50</span>
                        <a href="/">Ver mais</a>
                        <button>add+</button>
                    </article>  <article>
                        <img src="img/Crisantemos.png" alt="">
                        <h2>Crisantemo</h2>
                        <span>R$ 40,50</span>
                        <a href="/">Ver mais</a>
                        <button>add+</button> 
                    </article>  <article>
                        <img src="/img/Orquidea.png" alt="">
                        <h2>Orquidea</h2>
                        <span>R$ 40,50</span>
                        <a href="/">Ver mais</a>
                        <button>add+</button>  
                    </article>  <article>
                        <img src="/img/Rosas.png" alt="">
                        <h2>Rosa</h2>
                        <span>R$ 40,50</span>
                        <a href="/">Ver mais</a>
                        <button>add+</button>  
                    </article>  <article>
                        <img src="/img/CopoDeLeite.png" alt="">
                        <h2>Copo de Leite</h2>
                        <span>R$ 40,50</span>
                        <a href="/">Ver mais</a>
                        <button>add+</button>  
                    </article>  
                    <article>
                        <img src="/img/Samambaia.png" alt="">
                        <h2>Samambaia</h2>
                        <span>R$ 40,50</span>
                        <a href="/">Ver mais</a>
                        <button>add+</button>  
                    </article>  
        </div>
        
    </main>
    
    <body>
</body>
   
</html>