<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
 <!-- Imagem do Logo -->
 <a href="/">
    <img src="/img/BalsamoDoAmor" alt="Balsamo do Amor">
</a>
<!-- Texto para INPUT dentro do PlaceHolder -->
<input type="text" name="" id=""placeholder="Escolha sua flor!">

<!-- Botão Buscar -->
<button>Buscar</button>

<!-- Imagem e Link do Carrinho -->
<a href="/carrinho">
    <img src="" alt="">
    <span>0</span>
</a>       
    </header>
    <main>
  
 <!--Daqui pra baixo o centro e fim (main&footer) da pagina-->  

    </main>
</body>
</html>