<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
 <!-- Imagem do Logo (eu sei que vamos mudar o BALSAMO!!) -->
 <a href="/">
    <img src="/img/BalsamoDoAmor" alt="Balsamo do Amor">
</a>
<!-- Texto para INPUT dentro do PlaceHolder -->
<input type="text" name="" id=""placeholder="Qual flor procura">

<!-- Botão Buscar -->
<button>Buscar</button>

<!-- Imagem e Link do Carrinho -->
<a href="/carrinho">
    <img src="/img/Carrinho.png" alt="">
    <span>0</span>
</a>       
    </header>
    <main>
    <!-- Imagens das flores *lembrar de por no IMG as imagens (ele  ta dentro da pasta PUBLIC)-->    
        <article>
            <img src="/img/CopoDeLeite.png" alt="">
            <h2>Copo de Leite</h2>
            <span>R$ 40,50</span>
            <a href="/">Ver mais</a>
            <button>add+</button>  
        </article>  
        <article>
            <img src="img/Crisantemos.png" alt="">
            <h2>Crisantemos</h2>
            <span>R$ 40,50</span>
            <a href="/">Ver mais</a>
            <button>add+</button>  
        </article>  
        <article>
            <img src="/img/Margaridas.png" alt="">
            <h2>Margaridas</h2>
            <span>R$ 40,50</span>
            <a href="/">Ver mais</a>
            <button>add+</button>  
        </article> 
         <article>
            <img src="/img/Orquidea.png" alt="">
            <h2>Orquídea</h2>
            <span>R$ 40,50</span>
            <a href="/">Ver mais</a>
            <button>add+</button>  
        </article>
          <article>
            <img src="/img/Rosas.png" alt="">
            <h2>Rosas</h2>
            <span>R$ 40,50</span>
            <a href="/">Ver mais</a>
            <button>add+</button>  
        </article>  
        <article>
            <img src="/img/Samambaia.png" alt="">
            <h2>Samambaia</h2>
            <span>R$ 40,50</span>
            <a href="/">Ver mais</a>
            <button>add+</button>  
        </article>  
        
    </main>
        
    </body>
    </html>
