<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
</head>

<!--Linka os arquivos .css com o listaProdutos.html-->
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/listaProdutos.css" />
<!--                                           -->


<header>
<div class="header" id="header">
<div class="logo_header">
	<a href="/"> <img src="/img/Logo.png" class="img_logo_header" alt="LogoSite"></a>
</div>

<div class="navigation_header">
	<a href="/produtos"class="active">Produtos</a>
	<a href="https://keukenhof.nl/en/"class="active">Sobre Nós</a>
	<!--PLACEHOLDER--> 
	<a href="/">
		<img src="" alt="">
	</a>
	<input type="text" name="" id="" placeholder="Pesquisa de Produto">
	<button>Buscar</button>
	<a href="">
		<img src="" alt="">
		<span></span>
		<!--FIM DO PLACEHOLDER-->
		<a href="/carrinho"><img src="/img/Carrinho.png"class="img_carrinho_header"></a>
		<a href="/login"class="active">Entrar</a>
</div>



</header>
<body>
	<h1>Lista de Produtos</h1>
<main>
	<div class="central" id="produtos">
	<article>
		<img src="/img/Crisantemos.png" alt="Flores">
		<h3>Crisantemos</h3>
		<span>R$ 40,50</span>
		<a href="">Ver mais</a>
		<button>add+</button>
</article>

<article>
<img src="/img/CopodeLeite.png" alt="Flores">
<h3>CopodeLeite</h3>
<span>R$ 40,50</span>
<a href="">Ver mais</a>
<button>add+</button>
</article>

<article>
<img src="/img/Margaridas.png" alt="Flores">
<h3>Margaridas</h3>
<span>R$ 40,50</span>
<a href="">Ver mais</a>
<button>add+</button>
</article>

<article>
<img src="/img/Iris.png" alt="Flores">
<h3>Iris</h3>
<span>R$ 40,50</span>
<a href="">Ver mais</a>
<button>add+</button>
</article>

<article>
<img src="/img/Orquidea.png" alt="Flores">
<h3>Orquidea</h3>
<span>R$ 40,50</span>
<a href="">Ver mais</a>
<button>add+</button>
</article>

<article>
<img src="/img/Rosas.png" alt="Pizza de Calabresa">
<h3>Rosas</h3>
<span>R$ 40,50</span>
<a href="">Ver mais</a>
<button>add+</button>
</article>

<article>
<img src="/img/lirio.png" alt="Pizza de Calabresa">
<h3>Lirio</h3>
<span>R$ 40,50</span>
<a href="">Ver mais</a>
<button>add+</button>
</article><article>
<img src="/img/Samambaia.png" alt="Pizza de Calabresa">
<h3>Samambaia</h3>
<span>R$ 40,50</span>
<a href="">Ver mais</a>
<button>add+</button>
</article>
</div>

</main>
</body>
</html>