<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PainelUsuario</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
</head>

<!--Linka os arquivos .css com o index.html(que é a HOME, pag inicial da floricultura)-->
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/painel-usuario.css" />
<!--                                           -->


<header>
<div class="header" id="header">
<div class="logo_header">
	<a href="/"> <img src="/img/Logo.png" class="img_logo_header" alt="LogoSite"></a>
</div>


<div class="navigation_header">
	<a href="/produtos"class="active">Produtos</a>
	<a href="https://keukenhof.nl/en/"class="active">Sobre Nós</a>
	<!--PLACEHOLDER--> 
	<a href="/">
		<img src="" alt="">
	</a>
	<input type="text" name="" id="" placeholder="Pesquisa de Produto">
	<button>Buscar</button>
	<a href="">
		<img src="" alt="">
		<span></span>
		<!--FIM DO PLACEHOLDER-->
		<a href="/carrinho"><img src="/img/Carrinho.png"class="img_carrinho_header"></a>
		<a href="/login"class="active">Entrar</a>
</div>
</header>





<div class="nav-user">
    <a href="/login" class="active">Início</a>
    <a href="/login" class="active">Meus dados</a>
    <a href="/login" class="active">Meus pedidos</a>
    <a href="/login" class="active">Atendimento ao cliente</a>
    <a href="/login" class="active">Favoritos</a>
</div>