body div img{
    width: 100%;
  }

  article a> img {
    width: 300px;
}

article h2{
  color:rgb(123, 13, 13);
}

main{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding:10px;
  position: relative;
  margin-left: 100px;
  
}
footer{
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;

}

