:root {
    --color-white: #fff;
    --color-dark1: #272727;
    --color-dark2: #2d2d2d;
    --color-green3: #597e64;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-purple: #b040ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img_logo_header {
    width: 160px;
}

.header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
}

.header {
    /* width: fit-content; */
    background-color: var(--color-green3);
    box-shadow: 2px 2px 4px #cc8fb5;
    height: 7em;
    justify-content: space-between;
    padding: 0 10%;
}

.navigation_header {
    gap: 3em;
}

.navigation_header a {
    text-decoration: none;
    color: var(rgb(43, 223, 52));
    transition: 1s;
    font-weight: bold;
}

.active {
    color: #fff;
    padding: 15px;
    border-radius: 10px;
}

/* ::placeholder {
    /* color: rgb(211, 235, 231); */
/* background-color: var(--color-green3); 
  }*/


.force-opaque::placeholder {
    opacity: 1;
}

.img_carrinho_header {
    width: 70px;
    margin-left: 1em;
}


.logotipo {
    width: 100%;
    text-align: right;
    font-size: 0.7em;
}

/* .contatos {
    position: absolute;
    left: 45%;
    right: 40.07%;
    top: 80.33%;
    bottom: 79.78%;
}
.redes {
    position: absolute;
    left: 65%;
    right: 10.07%;
    top: 80.33%;
}
.dadosEmpresa {
    position: absolute;
    left: 25%;
    right: 40.07%;
    top: 40.33%;
    bottom: 79.78%;
} */

/* product */

.titleProduct {
    /* Title */
    position: absolute;
    left: 65%;
    right: 10.07%;
    top: 15.33%;
    bottom: 79.78%;

    /* Heading 03 */

    font-family: "Public Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height, or 122% */

    letter-spacing: -1.5px;

    color: #000000;
}

.sectionDescription {
    position: absolute;
    width: 357px;
    height: 104px;
    left: 740px;
    top: 237px;

    /* Paragraph 02 */

    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */

    letter-spacing: -0.3px;

    color: #000000;
}

html {
    height: 100%;

}

body main {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

#form-login {
    background-color: #597e64;
    width: 600px;
    padding: 70px;
    border-radius: 5px;
}

#form-login h2 {
    margin-left: 161px;
    color: #fff;
}

#form-login .campos {
    display: flex;
    flex-direction: column;

}

#form-login .campos input {
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 30px;
}


#form-login label {
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
}

#form-login .botoes {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* #form-login .botoes a{
    text-decoration: none;
    color: #000000;
  } */

.botoes span {
    margin-top: 25px;
}



#form-login button {
    width: 150px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;

}

/*CSS DO PAINEL DE USUARIO*/
body .nav-user {
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: rgb(48, 148, 115); */
}

body .nav-user a {
    font-size: 20px;
    color: var(--color-green3);
    text-decoration: none;
}

footer {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;

}